<hr class="hidden" />
<footer role="contentinfo" class="bg-black bg-binding-dark text-yellow-400 text-xs py-16">
  <div class="section__inner mx-auto space-y-5 md:grid grid-cols-2 md:space-y-0 gap-5">
    <div class="space-y-4">
      <p>
        &copy; <time datetime="1989-05-16" title="🎂">1989</time>-{{ build.timestamp | dateToFormat('yyyy') }} Phil Wolstenholme unless
        otherwise stated (there might be the odd Creative Commons license image within articles)
      </p>
      <p>
        Built with the
        <abbr title="Tailwind Eleventy Alpine" class="no-underline">TEA</abbr>
        stack <span aria-hidden="true">🍵</span>: Tailwind CSS, Eleventy, and a little bit of Alpine.js. Hosted on Netlify.
      </p>
      <div class="space-y-2">
        <p>Pulls in API data from:</p>
        <ul class="list-disc ml-6">
          <li>Medium (for now)</li>
          <li>Spotify</li>
          <li>Instagram</li>
          <li>Foursquare</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>

    <div class="space-y-4">
      <p
        class="no-js:hidden"
        x-data="{time: null}"
        x-init="
          function() {
            const perfData = window.performance.timing;
            let pageLoadTime = perfData.loadEventEnd - perfData.navigationStart;
            pageLoadTime = +(Math.round(pageLoadTime/1000 + 'e+2')  + 'e-2');
            this.time = pageLoadTime;
            if (pageLoadTime < 0) {
              this.$el.remove();
            }
          }
        "
      >
        This page loaded in <span x-text="time" class="font-mono">?.??</span> seconds.
      </p>

      <ul class="space-y-3 md:flex md:space-y-0 md:space-x-3">
        {% if (build.noJs == 'TRUE') or (build.noCss == 'TRUE') %}
        <li>
          <span aria-hidden="true">🍔&nbsp;</span>
          <a href="{{ fullFatUrl }}" rel="nofollow" class="underline">View the full-fat page (i.e. with CSS and JS)</a>
        </li>
        {% endif %} {% if not build.noCss %}
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="{{ noCssUrl }}" rel="nofollow" class="underline">View page without CSS</a>
        </li>
        {% endif %} {% if not build.noJs %}
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="{{ noJsUrl }}" rel="nofollow" class="underline">View page without JavaScript</a>
        </li>
        {% endif %}
      </ul>

      <div class="no-js:hidden flex flex-wrap items-center gap-2">
        <p id="homepage-lighthouse-scores">Homepage Lighthouse scores (%):</p>
        <speedlify-score
          class="flex space-x-1 flex items-center"
          speedlify-url="https://www.11ty.dev/speedlify"
          hash="f9481d0e"
          score
          weight
        ></speedlify-score>
      </div>

      <p>
        The less-than-perfect accessibility score is a
        <a href="https://github.com/dequelabs/axe-core/issues/2768" class="underline">false-positive due to a bug in axe-core</a> 😫
      </p>
    </div>
  </div>
</footer>
