<header role="banner" class="w-full h-12 sticky top-0 z-20 bg-binding-dark text-white py-2 px-5 sm:px-2">
  <div class="section__inner mx-auto flex space-x-4">
    <a href="{{ build.url }}" rel="home" class="block flex-shrink-0">
      <span class="sr-only">Home</span>
      <img
        hidden
        alt="Phil Wolstenholme"
        class="inline-block bg-yellow-300 rounded-full"
        src="https://res.cloudinary.com/wolstenh/image/upload/c_scale,f_auto,w_240/v1545084898/avatar_egzcjk.png"
        width="32"
        height="32"
      />
    </a>
    <nav
      class="flex flex-1 items-center overflow-hidden"
      role="navigation"
      tabindex="-1"
      aria-labelledby="in-page-navigation"
      x-data="PwHeader()"
      x-init="init()"
    >
      <h2 id="in-page-navigation" class="sr-only">In-page navigation</h2>
      <ul class="flex align-center space-x-3 overflow-hidden overflow-x-auto hide-scrollbars">
        {%- for item in headerLinks.items -%} {% set id = item.href.replace('#', '') %}
        <li>
          <a
            href="{{ item.href }}"
            class="font-bold font-serif underline hocus:text-yellow-300"
            x-bind:class="{'text-yellow-300': active === '{{ id }}'}"
            x-on:click="active = '{{ id }}'"
          >
            {{ item.title }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
  <div class="-mx-5 sm:-mx-2 bg-binding-dark h-3 transform shadow-hard" style="--tw-skew-y: -0.3deg !important"></div>
</header>
