{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(build.url) }}{%- endset -%}
{%- set absolutePageUrl -%}{{ absolutePageUrl|replace('index.no-css.html', '')|replace('index.no-js.html', '')}}{%- endset -%} {# General #}
<meta name="description" content="{{ seo.description or meta.description }}" />
<link rel="canonical" href="{{ absolutePageUrl }}" />

{% if (build.noJs == 'TRUE') or (build.noCss == 'TRUE') %}
<meta name="robots" content="noindex" />
{% endif %}

{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}" />
<meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% else %}{{ title }} | {{ meta.title }}{% endif %}" />
<meta property="og:description" content="{{ seo.description or meta.description }}" />
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta name="twitter:card" content="{% if seo.image or meta.image %}summary_large_image{% else %}summary{% endif %}" />
{% if seo.image or meta.image %}
<meta property="og:image" content="{{ seo.image or meta.image | url | absoluteUrl(build.url) }}" />
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png?v=lkvRGjnrz8">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png?v=lkvRGjnrz8">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png?v=lkvRGjnrz8">
<link rel="manifest" href="/site.webmanifest?v=lkvRGjnrz8">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v=lkvRGjnrz8" color="#666666">
<link rel="shortcut icon" href="/favicon.ico?v=lkvRGjnrz8">
<meta name="msapplication-TileColor" content="#fbbf24">
<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v=lkvRGjnrz8">
<meta name="theme-color" content="#fbbf24">

{# RSS Feed #} {# <link type="application/atom+xml" rel="alternate" href="{{ build.url }}/feed.xml" title="{{ meta.title }}" /> #}
