<script>
import icon from './icon.vue';
import spriteIcon from './sprite-icon.vue';
const cloudinary = require('cloudinary').v2;

export default {
  components: {
    icon,
    spriteIcon,
  },
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    playing: true,
    width: 400,
    blurryUri: '',
  }),

  computed: {
    cloudinaryUrl: function () {
      let public_id = `11ty/instagram/${this.post.id}`;
      return cloudinary.url(public_id, {
        secure: true,
        width: this.width,
        quality: 'auto',
        fetch_format: 'auto',
      });
    },

    cloudinarySrcSet: function () {
      return `${this.cloudinaryUrl.replace(this.width, this.width * 2)} 2x, ${this.cloudinaryUrl.replace(this.width, this.width * 3)} 3x`;
    },

    isParty: function () {
      if (this.post.caption.text) {
        return this.post.caption.text.includes('birthday');
      }
      return false;
    },
  },
};
</script>

<template>
  <figure
    tabindex="0"
    v-bind:x-data="post.videos ? '{ playing: false }' : null"
    v-bind:x-on:mouseenter="post.videos ? '$refs.video.pause()' : null"
    v-bind:x-on:focus="post.videos ? '$refs.video.pause()' : null"
    v-bind:x-on:mouseout="post.videos ? '$refs.video.play()' : null"
    v-bind:x-on:blur="post.videos ? '$refs.video.play()' : null"
    class="group relative flex rounded overflow-hidden card__instagram bg-gradient-to-t from-black to-gray-900 shadow-hard aspect-h-1 aspect-w-1 select-none"
    :class="{ 'card__instagram--party': isParty }"
  >
    <div class="flex-col justify-center shadow-hard">
      <template v-if="post.videos">
        <video
          x-ref="video"
          class="lozad w-full h-full object-cover transition-opacity group-hocus:opacity-50"
          :data-poster="cloudinaryUrl"
          muted
          loop
          autoplay
          playsinline
          disablePictureInPicture
          disableRemotePlayback
          preload="none"
        >
          <source :data-src="post.videos.standard_resolution.url" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </template>
      <template v-if="!post.videos">
        <img
          :src="cloudinaryUrl"
          :srcset="cloudinarySrcSet"
          :key="post.id"
          :alt="post.accessibilityCaption ? post.accessibilityCaption : ''"
          width="368"
          height="368"
          sizes="368px"
          class="has-blurry-placeholder w-full transition-opacity group-hocus:opacity-50"
          loading="lazy"
          decoding="async"
          crossorigin="anonymous"
          :style="`background-image:url(${post.svgPlaceholder})`"
        />
      </template>
      <figcaption
        class="absolute pointer-events-none space-y-3 transform-gpu transition-transform translate-y-full max-h-full group-hocus:translate-y-0 bg-gradient-to-t from-black to-grey-900 bottom-0 font-bold p-5 text-white text-xs w-full z-1"
      >
        <div v-if="post.likes.count > 0 || post.comments.count > 0 || post.location.name" class="space-y-2">
          <p v-if="post.likes.count > 0 || post.comments.count > 0">
            <template v-if="post.likes.count > 0">
              <sprite-icon hash="heart" class="text-red-600"></sprite-icon>
              <span class="sr-only">Likes: </span>
              <span class="inline-block mr-2" v-text="post.likes.count" />
            </template>
            <template v-if="post.comments.count > 0">
              <sprite-icon hash="speech"></sprite-icon>
              <span class="sr-only">Comments: </span>
              <span class="inline-block" v-text="post.comments.count" />
            </template>
          </p>
          <p v-if="post.location.name">
            <icon name="mapMarkerAlt" class="inline-block mr-1" />
            <span class="sr-only">Tagged location: </span>
            <span v-text="post.location.name" />
          </p>
        </div>
        <p v-if="post.caption.text">
          {{ post.caption.text }}
        </p>
        <span v-if="isParty" class="-top-8 absolute lg:inline-block lg:text-4xl right-8 sm:hidden text-6xl xl:text-6xl" aria-hidden="true"
          >🥳</span
        >
      </figcaption>
    </div>
  </figure>
</template>

<style lang="scss" scoped>
$backgroundBufer: 30px;

.card__instagram--caption {
  max-height: calc(100% + #{$backgroundBufer});
  transition: transform 150ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(100%);
  transform-origin: top;

  &::after {
    display: block;
    width: 100%;
    height: $backgroundBufer;
    content: '';
  }
}

.card__instagram:hover,
.card__instagram:focus {
  .card__instagram--caption {
    transition: transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(calc(0% + #{$backgroundBufer}));
  }
}
</style>
