@import 'tailwindcss/base';
@import '_base.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  @responsive {
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }
    .scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
    .hide-scrollbars {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scrollbars::-webkit-scrollbar {
      width: 0px;
      height: 0;
    }

    .items-1 {
      --items: 1;
    }
    .items-2 {
      --items: 2;
    }
    .items-3 {
      --items: 3;
    }
    .items-4 {
      --items: 4;
    }
    .items-5 {
      --items: 5;
    }
    .items-6 {
      --items: 6;
    }
    .items-7 {
      --items: 7;
    }
  }

  .links-underline a {
    text-decoration: underline;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .blend-multiply {
    mix-blend-mode: multiply;
  }
}

.icon {
  position: relative;
  top: -0.0625em;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/assets/fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-slab-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/assets/fonts/roboto-slab-v12-latin-700.woff2') format('woff2'),
    url('/assets/fonts/roboto-slab-v12-latin-700.woff') format('woff');
}

/* purgecss ignore */
[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
  outline: none !important;
  box-shadow: none !important;
}

.scroller-item--fit-to-grid {
  width: calc((100% - (1.25rem * (var(--items) - 1))) / var(--items));
}

.has-blurry-placeholder {
  background-size: cover;
}

/* https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css */
::target-text,
h2:target,
mark,
.highlight,
.highlight-links a {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.4));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.underline-links a {
  text-decoration: underline;
}

.breakout {
  width: calc(100vw - var(--scrollbar-width, 15px));
  margin-left: calc(50% - (50vw - (var(--scrollbar-width, 15px) / 2)));
}

.aspect-ratio {
  aspect-ratio: var(--aspect-ratio);
}

@supports not (aspect-ratio: 16 / 9) {
  .aspect-ratio::before {
    float: left;
    padding-top: calc(100% / (var(--aspect-ratio)));
    content: '';
  }

  .aspect-ratio::after {
    display: block;
    content: '';
    clear: both;
  }
}

.section__inner {
  max-width: calc(100vw - 2.5rem);

  @screen sm {
    max-width: 540px;
  }

  @screen md {
    max-width: 720px;
  }

  @screen lg {
    max-width: 960px;
  }

  @screen xl {
    max-width: calc(72rem - 16px);
  }
}

.speedlify-score {
  @apply inline-block border-yellow-400 border-2 rounded-full h-8 w-8 flex items-center justify-center;
}

.speedlify-score-good {
  @apply border-green-300;
}

.speedlify-weight {
  @apply inline-block pl-1;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}
